<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'component-css-variables' %}

    {% # Load and preload the critical CSS %}
    {% render 'stylesheets' %}

    {% # Social, title, etc. %}
    {% render 'component-meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}
  </body>
</html>
